
<template>
  <div :title="playlist.name" :data-playlist-id="playlist.id">
    <small class="text-muted">{{ playlist.id }}</small>
    <dl>
      <dt>Name:</dt>
      <dd :style="{ fontSize: '22px' }">{{ playlist.name }}</dd>

      <dt>Public:</dt>
      <dd
        class="playlist-visibility"
        :class="{
          'playlist-visibility-public': playlist.public == true,
          'playlist-visibility-private': playlist.public == false,
        }"
      >
        <!-- {{ playlist.public ? "Yes" : "No" }} -->
        <!-- {{ yesno(playlist.public) }} -- called with every render -->
        <!-- {{ playlist.public | yesno }} -- called when playlist.public changes -->
        {{ playlist.public | yesno }}
      </dd>

      <dt>Description:</dt>
      <dd>{{ playlist.description }}</dd>
    </dl>

    <button class="btn btn-info" @click="edit">
      <b>Edit</b>
    </button>

    <Button danger @click.native="edit">
      <b>Cancel</b>
    </Button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: ["playlist"],
  filters: {
    // yesno: function (value: boolean) {
    //   console.log('fitler');
    //   return value ? "Yes" : "No";
    // },
  },
  methods: {
    edit() {
      this.$emit("edit", this.playlist.id);
    },
  },
});
</script>

<style scoped>
.playlist-visibility {
  border-bottom: 1px solid currentColor;
}
.playlist-visibility-public {
  color: red;
}
.playlist-visibility-private {
  color: green;
}
</style>
