<template>
  <form @submit.prevent="save">
    <!-- <pre>{{ playlist }}</pre> -->
    <!-- <pre>{{ draft }}</pre> -->
    <!-- <span v-show="false">{{playlist}}</span> -->

    <div class="form-group mb-3">
      <label for="playlist-name">Name:</label>
      <input
        type="text"
        class="form-control"
        name="playlist-name"
        id="playlist-name"
        v-model="draft.name"
        ref="nameRef"
        aria-describedby="helpId"
      />
      <small id="helpId" class="form-text text-muted"
        >{{ draft.name.length }} / 100</small
      >
    </div>

    <div class="form-check mb-3">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          name="playlist-public"
          id="playlist-public"
          v-model="draft.public"
        />
        Public
      </label>
    </div>

    <div class="form-group mb-3">
      <label for="playlist-description">Description</label>
      <textarea
        class="form-control"
        name="playlist-description"
        id="playlist-description"
        v-model="draft.description"
        rows="4"
      ></textarea>
    </div>
    <button class="btn btn-danger" type="button" @click="cancel()">
      Cancel
    </button>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</template>

<script lang="ts">
import Vue from "vue";
import { Playlist } from "../model/Playlist";

interface Data {
  // draft: Playlist | null;
  draft: Playlist | null;
}

// export default Vue.extend<Data, {}, {}, 'playlist'>({

export default Vue.extend({
  props: ["playlist"],
  data: (): Data => ({
    draft: { id: "", name: "", public: false, description: "" },
  }),
  watch: {
    playlist: {
      immediate: true,
      handler(playlist) {
        if (playlist) {
          this.draft = { ...playlist };
        }
      },
    },
  },
  // created() {
  //   if (this.playlist) {
  //     this.draft = { ...this.playlist };
  //   }
  // },
  mounted() {
    // debugger
    if (this.$refs.nameRef instanceof HTMLInputElement) {
      this.$refs.nameRef?.focus();
    }
  },
  beforeUpdate() {
    // Only triggered if data is used ( rendered )
    // debugger
    // if (this.playlist) {
    //   this.draft = { ...this.playlist };
    // }
  },
  methods: {
    cancel() {
      this.$emit("cancel", this.playlist);
    },
    save() {
      this.$emit("save", this.draft);
    },
  },
});
</script>

<style scoped>
</style>